<launch>
  
  <!-- Play bag file -->
  <arg name="use_bag" default="True" />
  <arg name="bag" default="1" />
  <param name="use_sim_time" value="True" />

  <node if="$(arg use_bag)" pkg="rosbag" type="play" name="bag_player" output="screen" args="-l --clock $(find object_psd)/bags/test$(arg bag).bag"/>
  
  <!-- Object PSD -->
  <node pkg="object_psd" type="object_psd" name="object_psd" output="screen">
  	<param name="camera_frame" value="depth_optical_frame"/>
    <remap from="input" to="/rgbd_asus/depth/points"/>
  </node>
  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find object_psd)/config/config.rviz" />

  <include file="$(find rgbd_camera_util)/launch/display.launch">
    <arg name="use_gui" value="False" />
  </include>

</launch>