<launch>
  <!-- Play bag file -->
  <arg name="use_sim_time" value="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)" />
  <arg name="use_bag" default="True" />
  <arg name="bag" default="1" />

  <node if="$(arg use_bag)" pkg="rosbag" type="play" name="bag_player" output="screen" args="-l --clock $(find object_psd)/bags/test$(arg bag).bag"/>
  <!-- Object PSD -->
  <node pkg="object_psd" type="object_psd" name="object_psd" output="screen">
  	<remap from="input" to="/bender/sensors/rgbd_head/depth/points"/>
  </node>
  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find object_psd)/config/config.rviz" />
</launch>